@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Pen+Script&display=swap');
//Nanum Pen Script
@font-face {
    font-family: Amarillo;
    src: url(/fonts/Amarillo.woff) format('woff')
}
@font-face {
    font-family: Cafe24Dongdong;
    src: url(/fonts/Cafe24Dongdong.woff) format('woff')
}
@font-face {
    font-family: Cafe24Oneprettynight;
    src: url(/fonts/Cafe24Oneprettynight.woff) format('woff')
}
@font-face {
    font-family: Cafe24Shiningstar;
    src: url(/fonts/Cafe24Shiningstar.woff) format('woff')
}
@font-face {
    font-family: Hello;
    src: url(/fonts/Hello.woff) format('woff')
}
@font-face {
    font-family: JennaSue;
    src: url(/fonts/JennaSue.woff) format('woff')
}
@font-face {
    font-family: OdBestFreind;
    src: url(/fonts/OdBestFreind.woff) format('woff')
}
@font-face {
    font-family: OdVanillaromance;
    src: url(/fonts/OdVanillaromance.woff) format('woff')
}
@font-face {
    font-family: SDMiSaeng;
    src: url(/fonts/SDMiSaeng.woff) format('woff')
}
@font-face {
    font-family: StartingDEMO;
    src: url(/fonts/StartingDEMO.woff) format('woff')
}
@font-face {
    font-family: THEsuperpower;
    src: url(/fonts/THEsuperpower.woff) format('woff')
}
@font-face {
    font-family: THEharu;
    src: url(/fonts/THEharu.woff) format('woff')
}
@font-face {
    font-family: THEFACESHOP-INKLIPQUID;
    src: url(/fonts/THEFACESHOP-INKLIPQUID.woff) format('woff')
}
@font-face {
    font-family: TYPEFont26;
    src: url(/fonts/TYPEFont26.woff) format('woff')
}
@font-face {
    font-family: TYPEFont42;
    src: url(/fonts/TYPEFont42.woff) format('woff')
}
@font-face {
    font-family: TYPEFont71;
    src: url(/fonts/TYPEFont71.woff) format('woff')
}
@font-face {
    font-family: TYPEFont75;
    src: url(/fonts/TYPEFont75.woff) format('woff')
}
@font-face {
    font-family: TYPEFont94;
    src: url(/fonts/TYPEFont94.woff) format('woff')
}
@font-face {
    font-family: TYPEFont107;
    src: url(/fonts/TYPEFont107.woff) format('woff')
}
@font-face {
    font-family: UhBee-MiMi-Bold;
    src: url(/fonts/UhBee-MiMi-Bold.woff) format('woff')
}
@font-face {
    font-family: OdKongddukBingsu;
    src: url(/fonts/OdKongddukBingsu.woff) format('woff')
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Gothic A1', Arial, Helvetica, sans-serif;
}

@mixin conatiner-position {
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
}

.yellow-font{
    color: #fff9b1 !important;
}

body{ 
    color: white;
    font-weight: 100;
    >.background{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        background: linear-gradient(#F2D1D2 0%,#da5883 100%);
        &:after{
            content:"";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: fixed;
            opacity: 0.5;
            z-index: -1;
        }
    }
    >div{
        width: 100%;
        height: 100%;
         
        >.container{
            height: 100%;

            >.header-bar{
                @include conatiner-position();
                font-family: 'Jua';
                padding:20px 0 20px 0;
                margin: 0 auto;
                text-align: center;
                >.logo{
                    font-size: 72px;
                }

                >.text{
                    font-size: 36px;
                }
            }
        }
    }
}
#rs{
    height: 150px;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #fff;
}

.main-page{
    display: flex;
    flex-direction: column;
    flex: 1;
    >.main-section{
        @include conatiner-position();
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin-bottom: 90px;
        img{
            margin: 0 30px;
            width: 40%;
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
    >.black-grid{
        background-color: rgba(0,0,0,0.2);
    }

    .section-grid{
        @include conatiner-position();
        padding: 30px 0;
        >.design-grid-option{
            margin-bottom: 15px;
            >.font-select{
                width: 200px;
                padding: 10px 10px;
                border: 1px solid #FFC;
                border-radius: 5px;
            }
            >.sub{
                font-size: 12px;
                float: right;
            }
        }   
        >.design-grid-text{
            >.t-area{
                text-align : center;
                padding: 20px;
                line-height: 36px;
                resize: none;
                width: 100%;
                height: 150px;
                font-size: 18px;
                border: 1px solid #FFC;
                border-radius: 5px;
            }
        }

        >.title{
            color: #fff9b1 !important;
            font-size: 20px;
            text-align: left;
            text-shadow:0px 0px 1px #000;
            font-family: 'Jeju Gothic';
        }
        >.content{
            padding: 15px 0;
            color: #fff;
            >.flex-around{
                display: flex;
                justify-content: flex-end;
                position: relative;
                bottom: -25px;
                >img{
                    filter:drop-shadow(0px 1px 1px #fff);
                    height: 40px;
                    width: auto;
                }
                >.box{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;
                    color: #000;
                    width: 30%;
                    text-align: center;
                    margin: 0px 15px 0px 15px;
                    height: 50px;
                    font-weight: bold;
                    filter:drop-shadow(0px 2px 1px #090909);
                    border-radius: 10px;
                    
                }
            }
            >.copyright{
                text-align: center; color:white; font-family: 'Jeju Gothic'; text-shadow: 0px 1px #000;
            }
            >.s-text{
                font-size: 14px;
            }
            >.reward{
                div{
                    display: flex;
                    align-items: center;
                    font-weight: 400;
                    >.number{
                        width: 20px;
                        height: 20px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

.table{
    border-collapse: collapse;
    border:0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 100%;
    tr{
        td{
            text-align: center;
            padding: 10px;
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
            &:last-child{
                border-right: 0;
            }
        }

        &:last-child{
            td{
                border-bottom: 0;
            }
        }
    }
}